@model YueShanp.Models.Quoted

@{
    ViewBag.Title = "刪除報價";
}

<h2>刪除報價</h2>

<h3>確定要刪除此產品?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Product.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuotedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuotedPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
