@using YueShanp.Models
@model QuotedsMasterViewModel

@{
    ViewBag.Title = "Index";

    var customer = Model.Customer;
}

<h2>@customer.Name 報價</h2>

<p>
    @Html.ActionLink("新增報價", "Create", new { customerId = customer.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuotedList.FirstOrDefault().Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotedList.FirstOrDefault().QuotedPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotedList.FirstOrDefault().Remark)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.QuotedList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>

            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                @Html.ActionLink("詳細資料", "QuotedsDetail", new { id = item.Id }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
