@model YueShanp.Models.Customer

@{
    ViewBag.Title = "客戶詳細資料";
}

<h2>客戶詳細資料</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name) 詳細資料</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchaser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchaser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("回到客戶清單", "Index")
</p>
