@using YueShanp.Models

@model Product

@{
    Layout = null;
    var customer = (Customer)ViewBag.Customer;
    var products = List<Product>ViewBag.Products;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="ModalPrePrintDeliveryOrderLabel">新增/更新 品項</h4>
        </div>
        <div class="modal-body">
            <form class="form-list" role="form">
                @Html.HiddenFor(model => model.Customer.Id, new object { Value = customer.Id })
                <div class="row">
                    <div class="col-lg-12">
                        <h3>@customer.Name</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="form-label">@Html.DisplayNameFor(model => model.Name)</div>
                            <div class="form-content">
                                <div class="form-box">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", list = "dl-product" })
                                    <datalist id="dl-product">
                                        @foreach (var product in products)
                                        {
                                            var productName = product.Name;
                                            <option>@productName</option>
                                        }
                                    </datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="form-label">@Html.DisplayNameFor(model => model.UnitPrice)</div>
                            @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control", type = "number" })
                        </div>
                    </div>                    
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">新增</button>
        </div>
    </div>
</div>

<script>
    (function ($) {
        var modal = $('#modal-add-product');

        modal.on("hidden.bs.modal", function () {
            jQuery(this).html("");
            jQuery(this).removeData('bs.modal')
        });

    })(jQuery)
</script>